<article class="estadistica active" data-page="estadistica">

    <header>
        <h2 class="h2 article-title">Estadística</h2>
    </header>

    <h2>Reportes al Ecu 911</h2>
    <label class="filter-label">Filtrar por:</label>
    <div class="contenedor_filtro">
        <div class="filter-container">
            <label class="filter-label" for="filterSector">Sector</label>
            <select class="filter-select" id="filterSector" #filterSectorSelect
                (change)="filterBySector(filterSectorSelect.value)">
                <option value="all">Todos</option>
                <option *ngFor="let sector of sectors" [value]="sector">{{ sector }}</option>
            </select>

            <label class="filter-label" for="filterUnidadEducativa">Unidad Educativa</label>
            <select class="filter-select" id="filterUnidadEducativa" #filterUnidadEduSelect
                (change)="filterByCollege(filterUnidadEduSelect.value)">
                <option value="all">Todos</option>
                <option *ngFor="let college of colleges" [value]="college">{{ college }}</option>
            </select>

        </div>

    </div>

    <div class="contenedor_filtro">
        <div class="filter-container">
            <label class="filter-label" for="filterYearUE">Año</label>
            <select class="filter-select" id="filterYearUE" #filterYearSelectUE
                (change)="filterByYearUE(filterYearSelectUE.value)">
                <option value="all">Todos</option>
                <option *ngFor="let year of yearsUE" [value]="year">{{ year }}</option>
            </select>
        </div>
        <div class="filter-container">
            <label class="filter-label" for="filterMonthUE">Mes</label>
            <select class="filter-select" id="filterMonthUE" #filterMonthSelect
                (change)="filterByMonthUE(filterMonthSelect.value)" [disabled]="isMonthSelectDisabled">
                <option value="all">Todos</option>
                <option *ngFor="let month of monthUE" [value]="month.num">{{ month.name }}</option>
            </select>
        </div>

        <div class="grafica1_estadistica">
            <div class="tabla-estadistica">
                <div class="grafica1_estadistica">
                    <div class="tabla-estadistica">
                        <!-- <table mat-table [dataSource]="filteredTransactionsUE" class="mat-elevation-z8 tamaño-tabla">
                
                            <ng-container matColumnDef="item">
                                <th mat-header-cell *matHeaderCellDef> Incidentes </th>
                                <td mat-cell *matCellDef="let transactionUE"> {{ transactionUE.item }} </td>
                            </ng-container>
                            
                            <ng-container matColumnDef="cost">
                                <th mat-header-cell *matHeaderCellDef> Cont </th>
                                <td mat-cell *matCellDef="let transactionUE"> {{ transactionUE.cost }} </td>
                            </ng-container> 
                            
                            
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsUE"></tr>
                            <tr mat-row class="tabla-fila" *matRowDef="let row; columns: displayedColumnsUE;"></tr>
                            <tr mat-footer-row *matFooterRowDef="displayedColumnsUE"></tr>
                
                        </table> -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</article>