<article class="about active" data-page="inicio">
    <header>
        <h2 class="h2 article-title">Inicio</h2>
    </header>

    <!-- Primer contenedor -->
    <div class="container">

        <!-- Contenedor dividido en tres partes proporcionales -->
        <div class="">
            <!-- Título -->
            <div class="title-container">
                <h3 class="h3">¡AYUDA A MEJORAR LA SEGURIDAD EN TU COMUNIDAD!</h3>
            </div>
            <!-- Imagen -->
            <div class="image-container">
                <img class="portadaInicio" src="assets/img/portadas/Espe-Sede-Santo-Domingo.jpg" alt="Mapa de calor">
            </div>
            <!-- Texto -->
            <div class="text-container">
                <p class="contenido-texto">
                    "Schoolar Security Encuestas" es un sitio web que ha sido implementado en dos fases con el propósito
                    de fortalecer
                    la gestión de emergencias en diversos sectores de la provincia de Santo Domingo de los Tsáchilas.
                    Nuestro principal
                    objetivo es identificar de manera precisa los puntos de alta densidad de incidentes de seguridad que
                    pueden
                    afectar a la comunidad, proporcionando una visión clara de la situación y generando reportes
                    estadísticos
                    comprensibles tanto para los residentes como para las autoridades locales.
                    <br>
                    En la primera fase, se llevaron a cabo encuestas para conocer los incidentes de seguridad más
                    comunes en la
                    parroquia de Luz de América. En la segunda fase, se realizaron encuestas en las Unidades Educativas
                    "Puerto Limón" y "El Esfuerzo". Este cambio, de la comunidad a las unidades educativas, ha permitido
                    desarrollar una primera versión reducida que permita gestionar incidentes de seguridad en la
                    comunidad escolar de estas parroquias, brindando una herramienta disponible para todos sus actores y
                    ofreciendo una respuesta efectiva para el control de la seguridad.

                </p>
            </div>
        </div>
    </div>
    <!-- Tercer contenedor con 3 cartas -->
    <div class="card-container">
        <!-- Primera carta -->
        <div class="contenedorstats1 card">
            <!-- Contenido de la primera carta -->
            <div class="contenedor-servicios">
                <div class="caja1-servicios">
                    <img class="iconos_stats" src="assets/img/iconos/grafico-de-barras.png" />
                    <h3>Estadísticas</h3>
                    <p class="p_stats">
                        En la Fase I se encuestaron a 470 personas observando que de estos, 310 encuestados,
                        representando el 65.9%, no registraron ningún incidente, mientras que los 160 restantes (34.1%)
                        reportaron una variedad de incidentes, tales como accidentes de tránsito, emergencias médicas,
                        desastres naturales e incendios.
                        <br>
                        En la Fase II, que se enfocó en 642 miembros de unidades educativas en dos parroquias de la
                        provincia, el 82.87% de los encuestados, equivalente a 532 estudiantes, no informaron ningún
                        tipo de incidente. No obstante, los 110 restantes (17.13%) experimentaron situaciones
                        problemáticas, incluyendo robos, casos de bullying, acoso sexual y violencia entre pares.

                    </p>
                </div>
            </div>
        </div>

        <!-- Segunda carta -->
        <div class="contenedorstats2 card">
            <!-- Contenido de la segunda carta -->
            <div class="contenedor-servicios">
                <div class="caja1-servicios">
                    <img class="iconos_stats" src="assets/img/iconos/portapapeles.png" />
                    <h3>Encuestados</h3>
                    <p class="p_stats">
                        Durante la Fase I del proyecto de vinculación, se llevaron a cabo un total de 470 encuestas en
                        la parroquia de Luz de América. En la Fase II, se recopilaron datos a través de 642 encuestas,
                        de las cuales 461 se dirigieron a la Unidad Educativa "El Esfuerzo," mientras que 181 encuestas
                        se aplicaron en la Unidad Educativa "Puerto Limón".
                        <br>
                        Estas encuestas involucraron tanto a docentes como a estudiantes, permitiendo así una cobertura
                        integral de las comunidades
                        educativas. Este enfoque proporcionó una visión completa y enriquecedora sobre las opiniones y
                        necesidades de los participantes.

                    </p>
                </div>
            </div>
        </div>

        <!-- Tercera carta -->
        <div class="contenedorstats3 card">
            <!-- Contenido de la tercera carta -->
            <div class="contenedor-servicios">
                <div class="caja1-servicios">
                    <img class="iconos_stats" src="assets/img/iconos/seguro.png" />
                    <h3>Finalidad</h3>
                    <p class="p_stats">
                        Los resultados obtenidos de la Fase I fueron tomados como insumos de entrada para el proyecto de
                        la Unidad de Integración Curricular “Desarrollo de una aplicación web y móvil para la gestión de
                        alertas de emergencia comunitaria bajo el enfoque de tecnologías ágiles” de la carrera de
                        Ingeniería en Tecnologías de la Información. 
                        <br>
                        Por otro lado, los resultados de la Fase II se
                        utilizaron para desarrollar los aplicativos WEB y Móvil <a href="http://educaciondigital.espe.edu.ec:8081/schoolarSecurity" target="_blank" style="display:inline;  white-space: nowrap;">"SCHOOLAR SECURITY"</a> con funcionalidades
                        específicas para la gestión de incidentes dentro de las unidades educativas de las parroquias
                        mencionadas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>