<article class="about active" data-page="inicio">
    <header>
        <h2 class="h2 article-title">Inicio</h2>
    </header>

 <!-- Primer contenedor -->
 <div class="container">

    <!-- Contenedor dividido en tres partes proporcionales -->
    <div class="content">
      <!-- Título -->
      <div class="title-container">
        <h3 class="h3">¡AYUDA A MEJORAR LA SEGURIDAD EN TU COMUNIDAD!</h3>
      </div>
      <!-- Imagen -->
      <div class="image-container">
        <img class="portadaInicio" src="assets/img/portadas/Espe-Sede-Santo-Domingo.jpg" alt="Mapa de calor">
      </div>
      <!-- Texto -->
      <div class="text-container">
        <p class="contenido-texto">
            Aplicativo web para la gestión de emergencias comunitarias en diferentes sectores de Santo Domingo, 
            cuyo principal objetivo es identificar de forma precisa los puntos de alta densidad de incidentes que afecten a la comunidad, 
            proporcionando así una visión clara de la situación, ofreciendo reportes estadísticos comprensibles
             tanto para los residentes como para las autoridades locales de cada sector.
        </p>
      </div>
    </div>
  </div>
    <!-- Tercer contenedor con 3 cartas -->
    <div class="card-container">
        <!-- Primera carta -->
        <div class="contenedorstats1 card">
            <!-- Contenido de la primera carta -->
            <div class="contenedor-servicios">
                <div class="caja1-servicios">
                    <img class="iconos_stats" src="assets/img/iconos/grafico-de-barras.png" />
                    <h3>Estadísticas</h3>
                    <p class="p_stats">
                        Del conjunto de 642 encuestas realizadas a los alumnos de las instituciones educativas,
                         se destaca que un 82.87 % no ha reportado ningún tipo de incidente, mientras que el porcentaje
                         restante, que corresponde al 17.13%, lamentablemente ha registrado incidentes
                          que incluyen casos de robos, situaciones de bullying, acoso sexual y violencia entre pares.
                      
                    </p>
                </div>
            </div>
        </div>

        <!-- Segunda carta -->
        <div class="contenedorstats2 card">
            <!-- Contenido de la segunda carta -->
            <div class="contenedor-servicios">
                <div class="caja1-servicios">
                    <img class="iconos_stats" src="assets/img/iconos/portapapeles.png" />
                    <h3>Encuestados</h3>
                    <p class="p_stats">
                        Se llevó a cabo la recopilación de datos con
                        un total de 642 encuestas, de las cuales 461 se destinaron a la Unidad Educativa "El Esfuerzo" y 181 a la Unidad Educativa "Puerto Limón".
                          Las encuestas fueron realizadas a docentes y estudiantes, permitiendo así una representación
                            integral de las comunidades para obtener una visión completa y 
                            enriquecedora de sus opiniones y necesidades. 
                        
                    </p>
                </div>
            </div>
        </div>

        <!-- Tercera carta -->
        <div class="contenedorstats3 card">
            <!-- Contenido de la tercera carta -->
            <div class="contenedor-servicios">
                <div class="caja1-servicios">
                    <img class="iconos_stats" src="assets/img/iconos/seguro.png" />
                    <h3>Seguridad</h3>
                    <p class="p_stats">
                        Un innovador aplicativo de seguridad ha sido desarrollado en base a los resultados 
                        de las encuestas recopiladas de las comunidades e instituciones educativas. Este 
                        aplicativo diseñado con el objetivo de mejorar 
                        la seguridad, utiliza los valiosos datos recabados para identificar
                        áreas críticas y establecer medidas preventivas y de respuesta adecuadas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>
